@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --bgColor: #0A212E;
    --primaryColor: #051721;
    --textColor: #FFFFFF;
    --accentColor1: #00EBB2;
    --accentColor2: #E46D99;
    --ff: "Inter", sans-serif;
    --h1: bold max(68px, 5vw) / max(78px, 6vw) var(--ff);
    --h2: bold 36px/36px var(--ff);
    --h3: bold 24px/30px var(--ff);
}

.lightMode {
    --bgColor: #E0F1FA;
    --primaryColor: #D1E8F5;
    --textColor: #000000;
    --accentColor1: #00EBB2;
    --accentColor2: #931B47;
}

h1 {
    font: var(--h1);
    padding-left: 25px;
    color: var(--textColor);
}

h2 {
    font: var(--h2);
    color: var(--textColor);
}

h3 {
    font: var(--h3);
    padding-left: 25px;
    line-height: 35px;
    color: var(--textColor);
}

body {
    background-color: var(--bgColor);
}

.gridContainer {
    padding-top: 50px;
    display: grid;
    gap: 1rem;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 50vh 50vh;
}

/* Styling for nav bar */
/* The classes in the nav are seperated to left and right with justify-content: space-between */
nav {
    background-color: var(--primaryColor);
    width: 100vw;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    font-family: var(--ff);
}

.navLeft a,
.navRight a {
    color: var(--textColor);
    text-decoration: none;
    padding: 20px;
}

.navRight {
    display: flex;
    gap: 10px;
}

.navRight a:hover {
    background-color: var(--accentColor2);
}

/* Hero section main page */

.heroSectionCardText {
    width: 32vw;
}

.exploreButton {
    background-color: var(--accentColor2);
    border: none;
    color: var(--textColor);
    padding: 20px 32px;
    text-align: center;
    border-radius: 40px;
    font-family: var(--ff);
    font-size: 25px;
    margin-top: 60px;
    margin-left: 30px;
}

.exploreButton:hover {
    background-color:#931B47;
}

.heroSection {
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    flex-direction: row;
}

.mainCard {
    height: 50vh;
    width: 50%;
    border-radius: 5%;
    background-color: var(--primaryColor);
}

.imageContainer {
    height: 50vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer > img {
    width: 80%;
    height: 70%;
}

@media (max-width: 1140px) {
    h1 {
        padding-top: 10px;
        font-size: 60px;
        line-height: 62px;
    }

    .heroSectionCardText {
        font-size: 20px;
        line-height: 32px;
    }

    .exploreButton {
    padding: 15px 25px;
    border-radius: 40px;
    font-size: 20px;
    margin-top: 55px;
    margin-left: 30px;
    }

    @media (max-width: 1014px) {
        h1 {
            padding-top: 10px;
            font-size: 45px;
            line-height: 48px;
        }

        .heroSectionCardText {
            font-size: 18px;
            line-height: 28px;
            padding-top: 10px;
        }
    
        .exploreButton {
        padding: 12px 22px;
        border-radius: 40px;
        font-size: 17px;
        margin-top: 70px;
        margin-left: 30px;
        }
    }

    /* Layers the logo image and card vertically */
    @media (max-width: 900px) {
        .heroSection {
            flex-direction: column;
            align-items: center;
        }

        .mainCard, .imageContainer {
            width: 100%;
            align-items: center;
            text-align: center;
        }

        .heroSectionCardText {
            width: 100%;
            padding-left: 0;
            font-size: 20px;
        }

        h1 {
            padding-left: 0;
        }

        .exploreButton {
            margin-top: 70px;
            margin-bottom: 30px;
            margin-left: 0;
        }
    }

}